:root {
    --default-text-color: #212121;
    --text-hover-color: #2196F3;
    --subtext-color: #757575;
    --heading-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --secondary-bg-color: #2F303A;
    --buttons-color: #F5F4FA;
}

body {
    font-family: var(--heading-font-family);
    color: var(--default-text-color);
}

img {
display: block;
max-width: 100%;
height: auto;
}

.link-class {
    color: var(--default-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}

.link-class {
    text-decoration: none;
}

.main-navigation .contact-link {
    text-decoration: none;
    color: var(--subtext-color);
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}

.main-navigation a:hover {
    color: var(--text-hover-color);
}

.logo {
    text-decoration: none;
    color: var(--text-hover-color);
    font-family: var(--logo-font-family);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 162.5%;
}

.logo-secondary-color {
    color: var(--default-text-color);
}

.buttons .button {
    background-color: var(--buttons-color);
    border: none;
    border-radius: 2px;
    line-height: 162.5%;
    cursor: pointer;
}

.button:hover {
    background-color: var(--text-hover-color)
}

.button:active {
    background-color: var(--text-hover-color);
}

.button:focus {
    color:white;
    background-color: var(--text-hover-color);
}

.list-class {
    list-style-type: none;
    margin: 0;
}

.primary-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    margin: 0;
}

.secondary-text {
    color: var(--subtext-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    line-height: normal;
    margin: 0;
}

.footer-section {
    background-color: var(--secondary-bg-color)
}

.logo-footer-color {
    color: white;
}

.footer-contact {
    font-style: normal;
}

.physical-address {

    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.footer-link-class {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: var(--subtext-color);
    text-decoration: none;
}

.footer-contact a:hover {
    color: var(--text-hover-color);
}

.request-our-service {
    font-family: var(--heading-font-family);
    font-size: 16px;
    background-color: var(--text-hover-color);
    border: none;
    border-radius: 2px;
    line-height: 187.5%;
    cursor: pointer;
    color: var(--buttons-color);
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.96px;
}

.request-our-service:hover {
    background-color: var(--buttons-color);
    color: var(--text-hover-color);
}

.effective-solutions {
    background-color: var(--secondary-bg-color);
}

.effective-solutions-text {
    color: white;
    font-family: var(--heading-font-family);
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    width: 696px;
    text-align: center;
    letter-spacing: 2.64px;
}

.paragraph-text {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.42px;
}

.paragraph-secondary {
    color: var(--subtext-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}

.heading-section {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.current {
    color: var(--text-hover-color);
}

body {
    margin: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:15px;
    margin-right:15px;
}

.global-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}

.global-header .main-navigation ul {
    align-items: center;
    gap:50px;
    justify-content: space-between;
    display: flex;
}

.pages ul {
    margin-right:300px;
}

.global-header .main-navigation .contact-container .list-class {
    gap:40px;
}

.effective-solutions {
    display: flex;
    height: 37.5em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.request-our-service {
    height: 50px;
    width: 200px;
}

.paragraph-container .list-class {
    padding-left:0;
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.paragraph-secondary {
    width: 270px;
}

.what-we-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-we-do-images {
    display: flex;
    gap:30px;
}

.our-team-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.our-team-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-bottom: solid 1px #F5F4FA;
    border-radius: 0px 0px 4px 4px;
}

.our-team-cards p {
    padding-bottom: 30px;
}

.heading-section-our-team {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.effective-solutions-section {
    padding-bottom: 94px;
}

.our-team-color-block {
    background-color: #F5F4FA;
}

.footer-section {
    padding: 30px;
}

.footer-section ul {
    padding-left: 15px;
}

.footer-section .list-class li {
    padding-bottom: 12px;
}

.logo-container-class {
    padding: 15px;
}

.buttons .list-class {
    display: flex;
    justify-content: center;
    padding-bottom:50px;
    gap:8px;

}

.button {
    color: #212121;
        text-align: center;
        font-family: var(--heading-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 162.5%;
        letter-spacing: 0.48px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.button:hover {
    color:white;
}

.projects-grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}

.primary-text {
    padding-top:20px;
    padding-bottom:4px;
}

.projects-grid-text {
padding-left: 24px;
padding-bottom:20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}